html, body {
	height: 100%;
	margin: 0 auto;
	font-family: 'Dosis', sans-serif;
	color: rgba(0,0,0,0.5);
	text-align: center;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content-wrapper {
	box-sizing: border-box;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: rgba(219, 219, 219, 0.5);
	border-radius: 3px;
}

h1 {
	font: 600 3.5em 'Dosis', sans-serif;
	color: rgba(0,0,0,0.5);
	text-align: center;
	letter-spacing: 0.3em;
	padding-left: 0.25em;
	margin-top: 24px;
	width: 100%;
}

h3 {
	margin-left: 20px;
	font: 900 1.5em 'Ubuntu Mono', monospace;
	color: rgba(0,0,0,0.5);
	text-align: center;
	text-transform: none;
}

.user-input {
	margin: 0 auto 0 auto;
}

.color-button {
	margin-left: 5px;
	margin-right: 5px;
}

.color-button, .angle-button {
	border-radius: 3px;
	border: none;
	border-right: 2px solid rgba(0,0,0,0.5);
	border-bottom: 2px solid rgba(0,0,0,0.5);
	background-color: rgba(219, 219, 219, 0.5);
	font: inherit;
	transition: all;
}

.color-button:hover, .angle-button:hover {
	border-top: 1px solid rgba(0,0,0,0.5);
	border-left: 1px solid rgba(0,0,0,0.5);
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.color-choice-buttons {
	display: flex;
	justify-content: center;
}

.angle-button-grid {
	margin: 20px auto 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.current-background-info {
	display: flex;
	justify-content: center;
	align-items: baseline;
}